.navigationFilter {
	--navigation-filters-gap: var(--s-3);
	display: flex;
	align-items: center;
	gap: var(--navigation-filters-gap);

	> p {
		color: var(--c-white-accent);
	}
}

.options {
	display: flex;
	align-items: center;
	margin-inline-start: calc(-1 * var(--navigation-filters-gap));
	padding-inline-start: var(--navigation-filters-gap);
	gap: var(--s-2);

	pointer-events: none;
	max-width: 0;
	transition: max-width 0.3s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	transition-delay: 0.05s;

	> button {
		opacity: 0;
		transform: translateX(80px);
		transition:
			transform 0.25s,
			opacity 0.2s;
	}

	&[aria-expanded="true"] {
		max-width: 800px;
		transition-delay: 0s;
		overflow: visible;
		pointer-events: auto;

		> button {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@for $i from 1 through 4 {
		button:nth-child(#{$i}) {
			transition-duration: $i * 0.2s;
		}
	}
}

.toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--s-2);
	position: relative;
	z-index: 1;

	svg {
		transition: transform 0.25s ease-out;
	}

	&[aria-pressed="true"] svg {
		transform: rotate(90deg);
	}
}
