.body {
	width: 500px;
	border-radius: 24px;
	box-shadow: 0px 4px 64px -32px rgba(0, 0, 0, 0.25);
	background: var(--c-bg);
	padding: var(--s-5);
	text-align: right;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: auto;
	height: fit-content;
}

.header {
	padding-bottom: var(--s-4);
	border-bottom: 1px solid var(--c-stroke-gray, #403f36);
	display: flex;
	justify-content: space-between;
}

.close {
	padding: var(--s-1);
	height: fit-content;

	> svg {
		height: 20px;
		width: 20px;
	}
}

.name {
	color: var(--c-offwhite, #edebd7);
	font-size: var(--f-size-5);
}

.content {
	margin-top: var(--s-5);
}

.proof {
	margin-top: var(--s-3);

	> p:nth-of-type(2) {
		color: var(--c-offwhite-accent);
	}
}

.footer {
	margin-top: var(--s-7);
	display: flex;
	align-items: center;
	gap: var(--s-3);
	flex-wrap: wrap;
}

.share {
	> svg {
		height: 20px;
	}
}

@media screen and (max-width: 700px) {
	.body {
		padding: var(--s-3);
		width: 95%;
	}

	.dialog {
		padding-inline: var(--s-1);
	}
}
