.button {
	border: none;
	border: 1px solid var(--c-stroke-gray, #403f36);
	border-radius: var(--r-5xl);
	background-color: var(--c-bg);
	color: var(--c-white);
	padding: 12px 16px;
	cursor: pointer;
	text-decoration: none;
	line-height: 1.5;

	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;

	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	&:hover {
		background-color: var(--c-white-translucent);
	}
}

.danger {
	border-color: var(--c-action);
	&:hover {
		background-color: var(--c-action-translucent);
	}
}

.action {
	--from: #ec543f;
	--to: #b75328;
	background: linear-gradient(
		244deg,
		var(--from) 0%,
		var(--to) 50%,
		var(--from) 100%
	);
	background-size: 200% 100%;
	background-position: 100%;
	border: none;
	transition: background-position 0.4s ease-out;

	&:hover {
		background-position: 0%;
	}
}

.action-invert {
	border: 1px solid var(--c-action);
	&:hover {
		background-color: var(--c-action-translucent);
	}
}

@media screen and (max-width: 700px) {
	.button {
		padding: 8px 16px;
	}
}
