@use "./ada.scss";
@use "./tokens.scss";
@use "./typography.scss";
@use "./utils.scss";
@use "./transitions.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	direction: rtl;

	color-scheme: light dark;
	color: var(--c-offwhite);
	background-color: #242424;
	font-family: var(--f-primary);
	background-color: var(--c-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--f-primary);
}

html,
body {
	overflow-x: hidden;
}

html {
	/* 10px */
	font-size: 62.5%;
}

body {
	/* 16px */
	font-size: 1.6rem;
}

a {
	color: var(--c-links);
}
