:root {
	// Colours
	--c-white: #edebd7;
	--c-dark-gray: #1f1f1fff;
	--c-bg: #1a1a1a;
	--c-stroke-gray: #403f36ff;
	--c-white-accent: #b8b7adff;
	--c-button-floating-bg: #262626ff;
	--c-button-hovering: #383838ff;
	--c-action: #ec543f;
	--c-danger: #e94444;
	--c-green: #9bc880;
	--c-green-active: #07f21e;
	--c-links: #8c8cff;

	// Border Radius
	--r-none: 0;
	--r-xs: 0.0625rem;
	--r-sm: 0.0833333358168602rem;
	--r-default: 0.125rem;
	--r-lg: 0.1875rem;
	--r-xl: 0.20812499523162842rem;
	--r-2xl: 0.25rem;
	--r-3xl: 0.3125rem;
	--r-4xl: 0.5rem;
	--r-5xl: 0.75rem;
	--r-6xl: 0.875rem;
	--r-7xl: 1.5rem;
	--r-8xl: 2rem;
	--r-9xl: 3rem;
	--r-10xl: 3.5625rem;
	--r-11xl: 3.75rem;
	--r-12xl: 4.25rem;
	--r-13xl: 4.9375rem;
	--r-full: 9999px;

	--s-1: 8px;
	--s-2: 12px;
	--s-3: 16px;
	--s-4: 20px;
	--s-5: 24px;
	--s-6: 28px;
	--s-7: 32px;
}
