:root {
	--c-body-1: var(--c-offwhite, #efece0);
	--c-body-2: #9f9d98;
	--c-body--off: #777671;
	--c-black: #1a1a1a;
	--c-gray-1: #202020;
	--c-gray-2: #313131;
	--c-gray-3: #393939;
	--c-green: #a5e97d;
	--c-offwhite: #efece0;
	--c-red: #ff7032;

	--c-offwhite-translucent: #edebd733;
	--c-dark-gray: #1f1f1fff;
	--c-bg: #1a1a1a;
	--c-stroke-gray: #403f36ff;
	--c-offwhite-accent: #b8b7adff;
	--c-button-floating-bg: #262626ff;
	--c-button-hovering: #383838ff;
	--c-action: #ec543f;
	--c-action-translucent: #ec543f33;
	--c-danger: #e94444;
	--c-green: #9bc880;
	--c-green-active: #07f21e;
	--c-links: #8c8cff;

	// Border Radius
	--r-none: 0;
	--r-2xl: 4px;
	--r-3xl: 5px;
	--r-4xl: 8px;
	--r-5xl: 12px;
	--r-6xl: 14px;
	--r-7xl: 24px;
	--r-8xl: 32px;

	--s-05: 4px;
	--s-1: 8px;
	--s-2: 12px;
	--s-3: 16px;
	--s-4: 20px;
	--s-5: 24px;
	--s-6: 28px;
	--s-7: 32px;

	--z-1: 10; // Navbar
	--z-2: 20; // Overlay
	--z-3: 30; // +Anything above overlay
	--z-4: 40;
	--z-5: 50;

	--f-size-1: 1.4rem;
	--f-size-2: 1.6rem;
	--f-size-3: 1.8rem;
	--f-size-4: 2rem;
	--f-size-5: 2.4rem;
	--f-size-7: 3.2rem;
	--f-size-9: 6.4rem;

	--f-primary: Rubik, system-ui, Helvetica, Arial, sans-serif;
}
