.slide-fade {
	&-enter-active,
	&-exit-active {
		transition:
			transform 0.3s ease-out,
			opacity 0.3s ease-out;
	}

	&-enter,
	&-exit-to {
		transform: translateY(20px);
		opacity: 0;
	}
}

.slide-fade-down {
	&-enter-active,
	&-exit-active {
		transition:
			transform 0.3s ease-out,
			opacity 0.3s ease-out;
	}

	&-enter,
	&-exit-to {
		transform: translateY(-20px);
		opacity: 0;
	}
}

.slide-right {
	&-enter-active,
	&-exit-active {
		transition: transform 0.3s ease-out;
	}

	&-enter,
	&-exit-to {
		transform: translateX(100%);
	}
}

@media screen and (max-width: 700px) {
	.slide-right {
		&-enter,
		&-exit-to {
			transform: translateY(100%);
		}
	}
}

.slide-fade-table {
	&-enter-active,
	&-exit-active {
		transition: all 0.2s linear;
	}

	&-enter,
	&-exit-to {
		transform: translateX(10px);
		opacity: 0;
	}
}

.slide-fade-cards {
	&-enter-active,
	&-exit-active {
		transition: opacity 0.2s linear;
	}

	&-enter,
	&-exit-to {
		opacity: 0;
	}
}
