.slide-fade {
	&-enter-active,
	&-exit-active {
		transition:
			transform 0.3s ease-out,
			opacity 0.3s ease-out;
	}

	&-enter,
	&-exit-to {
		transform: translateY(20px);
		opacity: 0;
	}
}

.slide-fade-table {
	&-move {
		transition: transform 0.2s ease-out;
	}

	&-enter-active,
	&-exit-active {
		transition: all 0.2s ease-out;
	}

	&-enter,
	&-exit-to {
		transform: translateX(10px);
		opacity: 0;
	}
}
