.t-button {
	font-size: var(--f-size-2);
	font-family: Rubik;
	font-weight: 500;
	font-style: normal;
}

.t-body {
	font-size: var(--f-size-2);
	font-family: Rubik;
	font-weight: 400;
	font-style: normal;
}

.title {
	font-family: "29LT Ada Flat", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: var(--f-size-9);
}

.error {
	color: var(--c-action);
	font-size: var(--f-size-4);
}

@media screen and (max-width: 70rem) {
	.title {
		font-size: var(--f-size-7);
	}
}
