.container {
	text-align: center;
	margin-top: var(--s-7);
}

.intro {
	margin: auto;
	width: fit-content;
	position: relative;
	padding-top: var(--s-7);

	> p {
		margin-top: var(--s-3);
	}

	> div:last-of-type {
		margin-top: var(--s-5);
		margin-inline: auto;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 330px;
		background: url("../../assets/icons/palestine.svg") no-repeat;
		background-position: center top;
		background-size: auto 100%;
		z-index: -1;
		opacity: 0;

		animation-name: slide-up;
		animation-duration: 0.3s;
		animation-delay: 1s;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;
		animation-play-state: running;
		animation-iteration-count: 1;
	}

	&:focus-within::before {
		opacity: 1;
		transform: translateY(0);
	}
}

.filters {
	padding-inline: var(--s-5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: var(--s-5);
}

.filterCount {
	display: flex;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: var(--colors-fills-outlines-red, #ff7032);
	justify-content: center;
	align-items: center;
	font-weight: 600;

	color: var(--colors-fills-outlines-black, #1a1a1a);
}

.filter {
	font-weight: 600;
}

.ack {
	margin-top: var(--s-7);

	> a {
		display: block;
	}
}

.table {
	outline: none;
}

.footer {
	margin-inline: auto;
	width: fit-content;
	margin-top: var(--s-5);
}

@keyframes slide-up {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 700px) {
	.intro {
		width: 100%;
		padding-inline: var(--s-2);
	}
}
