.navbar {
	display: flex;
	padding: 12px 24px;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid var(--c-stroke-gray, #403f36);

	> div:first-of-type {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.upper {
	display: flex;
	align-items: center;
}

.logo {
	height: 50px;
}

.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--s-5);
}

.add {
	gap: var(--s-2);

	svg {
		height: 20px;
		width: 20px;
	}
}

.main {
	max-width: 1920px;
	margin-inline: auto;
}

.mobileFilter {
	display: none;
}

@media screen and (max-width: 700px) {
	.main {
		max-width: 100%;
		width: 100%;
	}

	.mobileFilter {
		display: block;
		border-top: 1px solid var(--c-stroke-gray, #403f36);
		width: 100%;
	}

	.desktopFilter {
		display: none;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;

		> div:first-of-type {
			padding: 16px;
		}
	}

	.add {
		padding: 8px 16px;
	}

	.logo {
		height: 40px;
	}
}
