.table {
	--row-height: 64px;
	width: 100%;
	table-layout: fixed;
	text-align: right;
	border-collapse: collapse;
	position: relative;

	th {
		width: 20%;
	}

	th:nth-child(3) {
		width: 30%;
	}

	th:nth-child(5),
	th:nth-child(4) {
		width: 10%;
	}

	tr {
		border-bottom: 1px solid var(--c-stroke-gray, #403f36);
		height: var(--row-height);
		position: relative;
		z-index: 1;

		td:nth-of-type(1) {
			font-size: var(--f-size-4);
			font-weight: 600;
		}

		td:nth-of-type(2) {
			color: var(--c-body-2);
			font-size: var(--f-size-3);
		}

		&.hoverIndicator {
			--active-row-index: 1;
			--opacity: 1;
			border-color: transparent;
			position: absolute;
			background-color: #00000033;
			top: 0;
			left: 0;
			right: 0;
			transform: translateY(calc(var(--active-row-index) * 100%));
			opacity: var(--opacity);
			pointer-events: none;
			transition:
				transform 0.35s cubic-bezier(0.4, -0.01, 0.18, 0.99),
				opacity 0.2s linear;

			@media screen and (max-width: 1090px) {
				display: none;
			}

			@media (prefers-reduced-motion) {
				transition:
					transform 0s,
					opacity 0s;
			}
		}
	}

	td {
		vertical-align: middle;
		transition: padding 0.3s cubic-bezier(0.4, -0.01, 0.18, 0.99);
		@media (prefers-reduced-motion) {
			transition: padding 0s;
		}
	}

	tr td:last-of-type {
		text-align: left;
	}
}

.tableRowSkeleton {
	width: 100%;
	height: 40px;
}

.intro {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--c-offwhite-accent, #b8b7ad);
	margin-top: var(--s-7);

	span {
		color: var(--c-offwhite);
		font-weight: 900;
	}
}

.container {
	padding-inline: var(--s-5);
}

.details {
	display: inline-flex;
	padding: 4px 12px 4px 12px;
	max-width: 40px;
	overflow: hidden;
	cursor: pointer;
	transition:
		max-width 0.5s cubic-bezier(0.4, -0.01, 0.18, 0.99),
		border-color 0.5s cubic-bezier(0.4, -0.01, 0.18, 0.99),
		background-color 0.5s cubic-bezier(0.4, -0.01, 0.18, 0.99);

	border: 1px solid var(--c-stroke-gray, #403f36);
	border-color: transparent;
	background-color: transparent;
	font-weight: 500;
	color: var(--c-white);

	border-radius: var(--r-5xl);
	line-height: 1.5;
	justify-content: flex-end;
	align-items: center;
	width: fit-content;
	gap: 10px;

	@media (prefers-reduced-motion) {
		transition:
			max-width 0s,
			border-color 0s,
			background-color 0s;
	}

	> svg {
		width: 24px;
		height: 24px;
		flex-shrink: 0;
	}

	> span {
		white-space: nowrap;
	}
}

.table tr:hover .details {
	max-width: 200px;
	cursor: pointer;
	border-color: var(--c-stroke-gray, #403f36);
	background-color: var(--c-gray-2);

	&:hover {
		background-color: var(--c-offwhite-translucent);
	}

	> span {
		display: inline;
	}
}

.category {
	> div {
		display: flex;
		gap: var(--s-1);
		flex-wrap: wrap;

		> button {
			display: block;
			font-size: var(--f-size-2);
			padding: 4px 12px 4px 12px;
			background-color: var(--c-gray-2);
		}
	}
}

.footer {
	margin-top: var(--s-2);
	color: var(--c-offwhite-accent, #b8b7ad);
}

@media screen and (max-width: 700px) {
	.table tr td {
		display: block;
	}

	.table > thead:nth-child(1) {
		display: none;
	}

	.table tr {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--s-2);
		height: fit-content;
		padding: var(--s-2) 0;
	}

	.table tr td:last-of-type {
		text-align: right;
	}

	tr td:nth-of-type(1) {
		font-size: var(--f-size-5);
		max-width: 76%;
	}

	tr td:nth-of-type(4) {
		position: absolute;
		left: 0;
		top: var(--s-2);
	}
}

.rowSkeleton {
	overflow: hidden;

	> td {
		border-radius: 40px;
	}
}

.tableSkeleton {
	border-collapse: separate;
	border-spacing: 10px;
}

@media screen and (min-width: 1280px) {
	.table tr:hover {
		--indent-size: 1rem;

		td:first-child {
			padding-inline-start: var(--indent-size);
		}

		td:last-child {
			padding-inline-end: var(--indent-size);
		}
	}
}

@media screen and (max-width: 700px) {
	.table {
		margin-top: var(--s-5);
	}

	.details {
		max-width: 200px;
		border-color: var(--c-stroke-gray, #403f36);
		background-color: var(--c-gray-2);

		> span {
			display: inline;
		}
	}
}
