.table {
	width: 100%;
	table-layout: fixed;
	text-align: right;
	border-collapse: collapse;

	th {
		width: 20%;
	}

	th:nth-child(3) {
		width: 30%;
	}

	th:nth-child(5),
	th:nth-child(4) {
		width: 10%;
	}

	tr {
		border-bottom: 1px solid var(--c-stroke-gray, #403f36);
		height: 64px;
	}

	td {
		vertical-align: middle;
	}

	tr td:last-of-type {
		text-align: left;
	}
}

.tableRowSkeleton {
	width: 100%;
	height: 40px;
}

.intro {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--c-white-accent, #b8b7ad);
	margin-top: var(--s-7);

	span {
		color: var(--c-white);
		font-weight: 900;
	}
}

.container {
	padding-inline: var(--s-5);
}

.details {
	display: inline-block;
}

.category {
	> div {
		display: flex;
		gap: var(--s-1);
		flex-wrap: wrap;

		> button {
			display: block;
			font-size: 1rem;
			padding: 8px 16px;
		}
	}
}

.footer {
	margin-top: var(--s-2);
	color: var(--c-white-accent, #b8b7ad);
}

@media screen and (max-width: 700px) {
	.table tr td {
		display: block;
	}

	.table > thead:nth-child(1) {
		display: none;
	}

	.table tr {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--s-2);
		height: fit-content;
		padding: var(--s-2) 0;
	}

	.table tr td:last-of-type {
		text-align: right;
	}

	tr td:nth-of-type(1) {
		font-size: 24px;
		max-width: 76%;
	}

	tr td:nth-of-type(4) {
		position: absolute;
		left: 0;
		top: var(--s-2);
	}
}
